# 构建产物
/build/
/cmake-build-*/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/compile_commands.json
*.elf
*.hex
*.bin
*.map
*.o
*.obj
*.d
*.su

# IDE 本地配置
/.idea/
/.vscode/

# 临时文件
/tmp/
*.dtmp
*.tmp
*.bak
*.swp
*~

# 操作系统文件
.DS_Store
Thumbs.db
desktop.ini
